@model UrunStokTakip.Models.Kategori
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
@using (Html.BeginForm("Guncelle","Kategori",FormMethod.Post))
            {
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form method="Post" class="form-group">
                <div style="margin-bottom:15px;">
                    @Html.LabelFor(x=>x.Ad)
                    @Html.TextBoxFor(x=>x.Ad, new {@class ="form-control" })
                </div>
                <div style="margin-bottom:15px">
                    @Html.LabelFor(x => x.Aciklama)
                    @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
                </div>
                <button class="btn btn-success">Güncelle</button>
            </form>
        </div>
    </div>
</div>
}

