@using UrunStokTakip.Models
@model List<Urun>
@{
    ViewBag.Title = "KritikStok";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Ürün Bilgisi</th>
        <th>Stok</th>             
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Ad</td>
            <td>@item.Stok</td>
        </tr>
    }
</table>

