<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="5.3.0-alpha3" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="JetBrains.Annotations" version="2022.3.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.3.0-preview1" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.3.0-preview1" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.3.0-preview1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Features" version="6.0.0-preview.4.21253.5" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Routing.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0-preview.4.23259.5" targetFramework="net472" />
  <package id="Microsoft.TypeScript.Compiler" version="3.1.5" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="2.0.0" targetFramework="net472" />
  <package id="netfx-System.Linq.Expressions.ExpressionCombiner" version="1.0.0.1" targetFramework="net472" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net472" />
  <package id="PagedList.Mvc" version="4.5.0.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="6.0.0-preview.4.21253.7" targetFramework="net472" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="7.0.0-preview.2.22152.2" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="8.0.0-preview.4.23259.5" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
</packages>