@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="justify-content-md-between">
        @Session["Ad"] @Session["Soyad"] Hoş Geldiniz !
    </div> 
</div>

